footer.footer
  .container
    ul.task-info
      li
        | Тестовое задание сделал:
        span Роман Крутько
      li
        | Затраченное время:
        span Суммарное время работы не более 6-7 часов
    p.footer-contact Для быстрой связи писать в телеграм:
      a(href="http://t.me/somerom").telegram @SomeRom
    
